<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="css/index.css">
		<script src="js/vue.js"></script>
	</head>

	<body id="body">

		<!--简单变量输出-->
		<!--<div id="app">
	    		{{ message }}
			</div>-->

		<!--v-if判断-->
		<!--<div id="app">
				<span v-if="seen">{{ message }}</span>
			</div>-->

		<!--for loops-->
		<!--<div id="app">
				<ol>
					<li v-for="todo in todos">
						{{ todo.text }}
					</li>
				</ol>
			</div>-->
		<!--<ul id="app">
				<li v-for="item in items" class="item-{{$index}}">
					{{$index}}-{{parentMessage}} {{item.msg}}
				</li>
			</ul>-->

		<!--
            	作者：offline
            	时间：2018-08-17
            	描述：v-on: 反转字符串，调用函数
            -->
		<!--<div id="app">
            	<p>{{ message }}</p>
            	<button v-on:click="reverseMessage">点击反转</button>
            </div>-->

		<!--
            	作者：offline
            	时间：2018-08-17
            	描述：v-show：隐藏HTML元素，类似v-if：变量：false
            -->
		<!--<div id="app">
            	<p v-show="greeting">This is v-show.</p>
            </div>-->

		<!--
            	作者：offline
            	时间：2018-08-17
            	描述：v-else：if-else判断
            -->
		<!--<div id="app">
            	<p v-if="ok">It's right.</p>
            	<p v-else="ok">It's false.</p>
            </div>-->

		<!--
            	作者：offline
            	时间：2018-08-17
            	描述：v-model：创建双向数据绑定
            -->
		<!--<div id="app">
            	<p>{{ message }}</p>
            	<input v-model="message" />
            </div>-->
		<!--<form>
            		姓名：
            			<input type="text" v-model="data.name" placeholder="" /><br />
            		性别：
	            		<input type="radio" id="man" value="One" v-model="data.sex" />
	            		<label for="man">男</label>
	            		<input type="radio" id="male" value="Two" v-model="data.sex" />
	            		<label for="male">女</label><br/>
            		兴趣：
            			<input type="checkbox" id="book" value="book" v-model="data.interest" />
            			<label for="book">阅读</label>
            			<input type="checkbox" id="swim" value="swim" v-model="data.interest" />
            			<label for="swim">游泳</label>
            			<input type="checkbox" id="game" value="game" v-model="data.interest" />
            			<label for="game">游戏</label>
            			<input type="checkbox" id="song" value="song" v-model="data.interest" />
            			<label for="song">唱歌</label><br />
            		身份：
            			<select v-model="data.identity">
            				<option value="teacher">教室</option>
            				<option value="doctor">医生</option>
            				<option value="lawer">律师</option>
            			</select>
            	</form>-->

		<!--
                	作者：offline
                	时间：2018-08-17
                	描述：原始HTML
           -->
		<!--<div id="app">
			<p>Using mustaches: {{ rawHtml }}</p>
			<p>Using v-html directive:
				<span v-html="rawHtml"></span></p>
		</div>-->

		<!--
            	作者：offline
            	时间：2018-08-17
            	描述：自定义组件：component
            -->
		<!--<div id="app">
			<ol>
				<todo-item></todo-item>
			</ol>
		</div>-->

		<!--
        	作者：offline
        	时间：2018-08-17
        	描述：1-10循环输出，单数输出
        -->
		<!--<div id="app">
			<li v-for="(item, index) in items" class="red:index==1">
				{{index}} {{parentMessage}}-{{item.msg}}&nbsp;
			</li>
			<li v-for="(item, index) in 10">
				{{index+1}}&nbsp;
			</li>
			<li v-for="(item, index) in 10">
				<span v-if="index%2==1">{{index+1}}</span>&nbsp;
			</li>
			<p v-for="(num, index) in 10" v-if='index<5'>
				{{num}}&nbsp;
			</p>

			<!--第三个参数为索引:
			<li v-for="(item,key,index) of items">
				{{index}} . {{key}} : {{item}}&nbsp;
			</li>
			</li>
		</div>-->
		<!--<div id="app">
			<span v-for="n in 5">第{{ n }}<br/></span>
			<p style="display:inline;" v-for="(item, index) in num">
				<span v-if="index%2==1">
					{{index+1}}
					<span v-if="index+2<num">、</span>
				</span>
			</p>
		</div>-->
		
		<div id="app">
			<ul>
				<li v-for="value in primitiveValues"{{ $key }} : {{ value }}>			
				</li><hr/>
				<li v-for="(key, item) in objectValues">{{ key }} : {{ item.message }}</li>
			</ul>
		</div>

		<!--
        	作者：offline
        	时间：2018-08-17
        	描述：双重for循环
        -->
		<!--<div id="app">
        	<span v-for="i in 9">
        		<span v-for="j in 9">
        			<span v-if="i>=j">
        				{{i}}*{{j}}={{i*j}}
        			</span>
        		</span>
        		<br />
        	</span>
        </div>-->

		<!--<div id="app">
			<p v-if="ok">小样，你还想控制我的自由？没门，我就不听话~</p>
			<p>请选择：
				<label><input type="radio" name="show" value="false" v-on:click='inpclick()' v-model="val"/>隐藏　</label>
				<label><input type="radio" name="show" value="true" v-on:click='inpclick()' v-model="val" />显示</label></p>
			<p>val：{{val}}；ok：{{ok}}</p>
		</div>-->

		<!--
        	作者：1634372267@qq.com
        	时间：2018-08-20
        	描述：v-text：更新元素的textContent
        -->
		<!--<div id="app">
        	<span v-text="message"></span><br />
        	<span>{{ message }}</span>
        </div>-->

		<!--
        	作者：1634372267@qq.com
        	时间：2018-08-20
        	描述：通过控制台动态更新:Mustache语法
        -->
		<!--<div id="app">
        	<h1>Name: {{ name }}（未绑定v-once会改变name）</h1>
        	<h1 v-once>Name: {{ name }} (绑定v-once不会改变name)</h1>
        </div>-->

		<!--
        	作者：1634372267@qq.com
        	时间：2018-08-20
        	描述：if-else-if
        -->
		<!--<div id="app">
        	<p v-if="message==='10086'">message===10086</p>
			<p v-else-if="message==='10087'">message===10087</p>
			<p v-else>message===10088</p>
        </div>-->

		<!--
        	作者：1634372267@qq.com
        	时间：2018-08-20
        	描述：v-text效果
        -->
		<!--<div id="app">
			<h2>{{}}方法：</h2>
			<ul>
				<li v-for="(value, key) in person">{{ key }}: {{ value }}</li>
			</ul>
			<hr>
			<h2>v-text方法：</h2>
			<ul>
				<li v-for="(value, key) in person" v-text="key + ':' + value"></li>
			</ul>
		</div>-->

		<!--
        	作者：1634372267@qq.com
        	时间：2018-08-20
        	描述：v-html效果
        	控制台添加节点：
        		var h1Element = document.createElement('h1') ;
				h1Element.classList.add('title') 
				h1Element.textContent = '把大漠塞进去' 
				document.getElementById('app').appendChild(h1Element)
        -->
		<!--<div id="app">
        	<h1 class=​"title">​把大漠塞进去​</h1>
        	<img src='//www.w3cplus.com/sites/default/files/blogs/2017/1709/cat.jpg' />
        </div>-->​

		<script src="js/index.js"></script>
	</body>

</html>